.main-container > h1 {
    transition: all 200ms ease;
}

.main-container > h1:hover {
    background-color: yellow;
}

.home-blocks-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.home-blocks-segment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 5px 5px 2px lightblue;
    transition: all 200ms ease;
    width: 30rem;
    padding: 0.5rem;
    color: black;
    text-decoration: none;
}

.home-blocks-segment:hover {
    box-shadow: 10px 10px 2px steelblue;
}

.home-blocks-segment > * {
    padding: 0;
    margin: 0;
}

.home-deck-card {
    width: calc(100% - 1rem);
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: all 200ms ease;
    text-decoration: none;
}

.home-deck-card:hover {
    background-color: lightblue;
}

.home-deck-card > p {
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
}

/* https://stackoverflow.com/questions/45087054/br-is-not-friendly-with-the-flexbox */
br {
    content: '\A';
    display: contents;
    white-space: pre;
}